<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
    <link rel="stylesheet" href="{% static "/css/form.css" %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
</body>

    {% load crispy_forms_tags %}
    <div class="jumbotron jumbotron-fluid center" id="contact-jumbotron">
        <h1>Contact Me</h1>
            <div class="container-sm" id="form-container">
                <a href="mailto:chin.portfolio.contact@gmail.com" class="fa fa-envelope" id="envelope"></a>
                <p><b>Have any questions or comments?</b></p>
                <p>Feel free to contact me using the mail icon or by filling out the form below!</p>

                <form method="post" id="contactform">
                    {% csrf_token %}
                    {{form | crispy}}
                    <div class="g-recaptcha" data-size="long" data-sitekey="6Lf5xvkcAAAAALap5W6b2om5F1gsOMrRWpUAbo66"></div>
                    <button type="submit" class="btn-custom btn-primary btn-lg btn-block">Submit</button>
                </form>
            </div>
    </div>

</body>
</html>

<script>
    function resizeReCaptcha() {
        let scale;
        let margin;
        const width = $(".g-recaptcha").parent().width();
        if (width < 302) {
            scale = width / 302;
        } else {
            scale = 1;
        }

        if (width < 250) {
            margin = -5;
        } else {
            margin = 20;
        }

        $(".g-recaptcha").css('transform', 'scale(' + scale + ')');
        $(".g-recaptcha").css('-webkit-transform', 'scale(' + scale + ')');
        $(".g-recaptcha").css('transform-origin', '0 0');
        $(".g-recaptcha").css('-webkit-transform-origin', '0 0');
        $(".g-recaptcha").css('margin-bottom', + margin);
    };

    $( document ).ready(function() {

        $( window ).on('resize', function() {
            resizeReCaptcha();
        });

        resizeReCaptcha();
    });
</script>