<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static "/css/experiences.css" %}">
</head>
<body>
    <div class="container-fluid" id="experiences-container">
        <h1>Experiences</h1>
        <div class="timeline-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        {% for experience in experiences %}
                        <div class="timeline">
                            <a class="timeline-content">
                                <div class="timeline-year">
                                    <span>{{ experience.year }}</span>
                                </div>
                                <h5 class="title">
                                    {{ experience.title }}
                                </h5>
                                <h4>{{ experience.company }}</h4>
                                <div class="timeline-icon">
                                    <i class="{{ experience.icon }}"></i>
                                </div>
                                <span><b>{{ experience.date_range }}</b></span>
                                <p class="description">{{ experience.description|linebreaks}}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>