<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static "/css/project.css" %}">
</head>
<body>
    <div class="container-fluid-sm text-center" id="projects-container">
        <h1>Projects</h1>
        <div class="row row-cols-5">
        {% for project in projects %}
            <div class="card">
                <div class="card-header"><h5>{{ project.title }}</h5></div>
                <div class="card-body card-color">
                    <p class="card-text">{{ project.technology }}</p>
                    <p class="card-text">{{ project.date }}</p>
                    <a href="#" class="btn btn-primary">More information</a>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
</body>
</html>