<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static "/css/project.css" %}">
</head>
<body>
    <div class="container-fluid-sm text-center" id="projects-container">
        <h1>Projects</h1>
        <div class="container project-container">
            <div class="row row-cols-4">
                {% for project in projects %}
                <div class="col d-flex">
                    <div class="card project-card">
                        <div class="card-header"><h5>{{ project.title }}</h5></div>
                        <div class="card-body">
                            <p class="card-text">{{ project.technology }}</p>
                            <span class="bottom">
                                <p class="card-text">{{ project.year }}</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal{{ project.id }}">
                                    More information
                                </button>
                            </span>
                        </div>
                        {% include 'project_modal.html' %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


</body>
</html>