/* Jumbotron Image */
#jumbotron-elements {
    background-image: var(--background-image);
    background-size: 100% 100%;
    margin: 0px;
    min-height: 900px;
}

/* Toggler */
.theme-switch-wrapper {
    float: right;
    margin-top: 30px;
    margin-right: 25px;
}

.theme-switch-wrapper span {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    float: right;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 80px;
    margin: 0px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #f5f0f0;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #f5f0f0;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #0d1a26;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    background-color: var(--font-secondary-color);
}

/* Profile Image */
.jumbotron img {
    margin-top: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Icons */
.icon-wrapper {
    text-align: center;
    padding: 30px;
}

#icons {
    background: var(--background-color);
    color: var(--font-color);
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#icons:hover {
    color: var(--font-secondary-color);
}

/* Jumbotrons */
#about-me-jumbotron {
    background: var(--background-color);
    color: var(--font-color);
    opacity: 85%;
    padding: 40px;
}

h2 {
    padding-bottom: 10px;
}

@media screen and (max-width:575px) {
    .theme-switch-wrapper {
        position: absolute;
        margin-top: 60px;
    }
}

@media screen and (max-width:500px) {
    .jumbotron img {
        width: 150px;
        height: 150px;
    }

    #icons {
        width: 60px;
        height: 60px;
        font-size: 25px;
        padding: 18px;
    }

    #about-me-jumbotron {
        padding: 30px;
    }
}

@media screen and (max-width:1000px) {
    #jumbotron-elements {
        background-image: var(--background-image-medium);
    }
}

@media screen and (max-width:650px) {
    #jumbotron-elements {
        background-image: var(--background-image-small);
    }
}