
#projects-container {
    background: var(--third-background-color);
	padding: 30px;
}

h1 {
    color: var(--font-color)
}

.col {
   padding: 0px;
}

.project-container {
    padding-top: 20px;
}

.project-card {
    min-height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    width: 270px;
}

.bottom {
}


