
#projects-container {
    background: var(--secondary-background-color);
	padding: 30px;
}

h1 {
    color: var(--font-color)
}

.project-container {
    padding-top: 20px;
}

.project-card {
    box-shadow: var(--shadow);
    margin: 15px;
    padding: 0;
    border: none;
    max-width: 300px;
}

.cards-container {
    margin-top: 35px;
}

.card-header {
    background: var(--background-gradient);
    padding: 10px;
}

.card-header {
    color: white;
}

.text-container {
    margin-top: 25px;
}

.card-body {
    padding-bottom: 10px;
}

.card-footer {
    padding-bottom: 20px;
    padding-top: 0px;
    background-color: white;
    border-top: none;
}

.btn {
    color: white;
}
.btn:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.btn:active, .btn:hover {
    color: white;
    border-color: var(--button-color);
}

.btn-custom {
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.btn-custom:hover {
    background-color: var(--hover-button-color);
    border-color: var(--button-color);
}

.btn-custom, .btn-custom:active, .btn-custom:focus {
    background-color: var(--button-color);
    border-color: var(--button-color);
}



