
#projects-container {
    background: var(--secondary-background-color);
	padding: 30px;
}

h1 {
    color: var(--font-color)
}

.project-container {
    padding-top: 20px;
}

.project-card {
    box-shadow: var(--shadow);
    margin: 15px;
    padding: 0;
    border: none;
    max-width: 300px;
}

.cards-container {
    margin-top: 35px;
}

.card-header {
    background: var(--background-gradient);
    padding: 10px;
}

h5 {
    color: white;
}




